<!-- We're using the child selectors in the parent component -->
<app-music-details [musicianName] ="name" (newMusicianEvent)="addArtists($event)"></app-music-details>

<ul>
  <li *ngFor="let musician of musicians">{{musician}}</li>
</ul>

<!-- // @Ouput - A decorator that lets the child component communicates with the parent component.
        @Output - communication is initiated by child    
      
// @Input - A decorator that allows the parent to communicates with the child component. 
       @Output - the parent freely pass data to child
-->